<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="br.ufms.vagner.agenda"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".Aplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/busca"/>
        </activity>
        <activity
            android:name=".activity.ContatoCadastroActivity"
            android:configChanges="keyboardHidden|orientation|orientation"
            android:parentActivityName=".activity.MainActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".activity.ContatoViewActivity"
            android:configChanges="keyboardHidden|orientation|orientation"
            android:parentActivityName=".activity.MainActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".activity.ContatoEditActivity"
            android:configChanges="keyboardHidden|orientation|orientation"
            android:parentActivityName=".activity.ContatoViewActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
    </application>

</manifest>
